<h1> <%= "#{$player1.name} vs. #{$player2.name}" %> </h1>
<h3>Let Battle commence!</h3>
<h2> <%= $player1.name %>'s hit points: <%= $player1.hitpoints %> </h2>
<h2> <%= $player2.name %>'s hit points: <%= $player2.hitpoints %> </h2>
<form method='POST' action='/p1-attacks'>
<input type='submit' value="Player 1 attack!">
</form>
